{% extends "base.html" %}

{% block content %}
<h1>ADD YOUR ENTITY:</h1>
<form action="{% url 'added' %}" method="post">
    {% csrf_token %}
    <p>Title:<input name="title" type="text" /></p>
    <p>Entry:<input name="entry" type="text" /></p>
    <input type="submit" value="Send" />
</form>
<li><a href="{% url 'index' %}">Return</a></li>
{% endblock %}