{% extends "base.html" %}

{% block content %}
{% if title %}
<p>You have added:</p>
<p><b>Title: </b>{{title}}<br/>
{% endif %}
{{entry}}
<li><a href="{% url 'index' %}">Return</a></li>
{% endblock %}