{% extends "base.html" %}

{% block content %}
<h3>Dostępne profile:</h3>
<h4>PROFIL_1: User1 password1</h4>
<h4>PROFIL_2: User2 password2</h4>
<h4>PROFIL_3: User3 password3</h4>
{% if logged %}
<li><a href="{% url 'logout' %}">Logout</a></li>
<li><a href="{% url 'add' %}">Add entry</a></li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
Entries:

<h2>Entries list</h2>
{% for entry in list %}
        <li><b>{{entry.id}} Title: </b>{{entry.Title}}<br/><b>Author:</b> {{entry.Author}}<br/>{{entry.Text}}</li><br/>
{% endfor %}
<hr/>
{% if logged %}
<li><a href="{% url 'add' %}">Add entry</a></li>
<li><a href="{% url 'myArticles' %}">Show all of my Entries</a></li>
{% endif %}
{% endblock %}