{% extends "base.html" %}
<h1>ZALOGUJ SIE:</h1>
{% block content %}
    <form action="{% url 'logged' %}" method="post">
        {% csrf_token %}
        <p>Username:<input name="username" type="text" /></p>
        <p>Password:<input name="password" type="password" /></p>
        <input type="submit" value="Login" />
    </form>
    <li><a href="{% url 'index' %}">Return</a></li>
{% endblock %}