{% extends "base.html" %}
{% block content %}
{% if logged %}
<h2>My Entries list:</h2>
{% for entry in list %}
<li><b>{{entry.id}} Title: </b>{{entry.Title}}<br/><b>Author:</b> {{entry.Author}}<br/>{{entry.Text}}</li><br/>
{% endfor %}
<hr/>
{% endif %}
{% endblock %}
